# Token do seu bot Discord
DISCORD_TOKEN=seu_token_aqui

# ID do seu bot (Application ID)
CLIENT_ID=id_do_seu_bot

# ID do seu servidor (para registrar comandos mais rápido em teste)
# Deixe vazio para registrar globalmente
GUILD_ID=id_do_servidor

# ID do cargo de admin do servidor
ADMIN_ROLE_ID=id_do_cargo_admin
